@{
    ViewBag.css = "/css/SobreNos.css";
}
<partial name="_menuSimplesPartial">
 <div class="nossa-historia">
    <h2>
        Nossa História
    </h2>
    <figure>
        <img src="/img/loja-bolo.jpg" alt="Fraquiada em São paulo">
        <figcaption>Franquiada em São Paulo</figcaption>
    </figure>
    <p>
        A Bom Gosto começou em um imóvel de 20 m² em Duque de Caxias, região metropolitana do Rio de Janeiro, e hoje conta com mais de 315 lojas espalhadas pelo Brasil. Atualmente é considerada a maior franquia especializada em bolos artesanais do país. Mas foi
        abraçando as oportunidades e com muito trabalho que a idealizadora da marca, Maria da Silva, conseguiu levar seu empreendimento a esse patamar.
    </p>
    <p>
        Era o ano de 1997, e Maria estava, então, tendo a oportunidade de abrir seu negócio, ainda que muito tímido. Mas até chegar esse dia, as coisas foram bem difíceis para ela. De família pobre, Maria trabalhou como boia-fria – foi cortadora de cana – e depois
        como empregada doméstica. Mas foi como funcionária de uma empresa que veio a oportunidade. A mulher do patrão fazia bolos para fora e, quando teve um problema de saúde, pediu para Maria ajudá-la, até que acabou por parar com a
        venda de bolos e deixou que Maria continuasse o negócio.
    </p>
    <p>E foi fazendo bolo, que levava aos clientes a pé, e aprimorando a receita, com a ajuda de sua mãe, que Maria conseguiu abrir o pequeno espaço em Salto. Ali, logo colocaram à venda, também, as balas de leite Ninho cuja receita foi aprendida
        em um programa de TV. Juntou o sucesso das balas com o dos bolos, que foram ficando cada vez mais aprimorados, e o negócio foi crescendo. Quatro anos depois, mudou o empreendimento para um espaço de 80 m², quatro vezes maior do
        que o primeiro. Tendo como sócios irmãos e ex-funcionários, foi abrindo outras lojas, em cidades próximas, como Nova Iguaçu, São João de Merití, Itu e Indaiatuba. Dez anos e muito trabalho depois, a Bom Gosto Doces virou franquia,
        em 2007, termo que Maria nem sabia o que era quando um cliente a questionou sobre o assunto. Mas foi atrás para saber do que se tratava, fez cursos e pesquisas durante cinco anos e abriu a primeira, em São Paulo, pelas mãos justamente
        desse cliente.
    </p>
</div>