<partial name="_menuAdminPartial">
<div class="form-padrao">
    <form asp-action="AlterarSenha" asp-controller="Usuario">
        <label for="senha">Senha</label>
        <input name="senha" type="password" size="30" placeholder="Digite a nova senha...">
        <input type="submit" value="Alterar Senha">
    </form>
</div>